/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-text-white: #ffffff;
  --c-text-item-title: #cfb287;

  --c-background-black: #1e1515;
  --c-background-black-dark: #0F0B0B;
  --c-background-black-transparent: #1e1515B0;
  --c-background-gray: #b8b8b8;

  --c-accent-darkred: #a81c15;
  --c-accent-lightbrown: #795e59;
  --c-accent-lightbrown-transparent: #795e5982;
  --c-accent-expansion-eod: #165d65;
  --c-accent-expansion-pof: #4b093d;
  --c-accent-expansion-hot: #7f9b2a;
  --c-accent-expansion-cls: #541f0f;
  --c-accent-yellow: #7d4b06;

  --c-accent-rarity-junk: #b1abaf;
  --c-accent-rarity-basic: #000000;
  --c-accent-rarity-fine: #68aae1;
  --c-accent-rarity-masterwork: #1a9306;
  --c-accent-rarity-rare: #fcd00b;
  --c-accent-rarity-exotic: #FF6208;
  --c-accent-rarity-ascended: #fb3e8d;
  --c-accent-rarity-legendary: #5e13aa;

  --c-accent-class-guardian: #006c73;
  --c-accent-class-warrior: #fee05c;
  --c-accent-class-revenant: #2b2937;
  --c-accent-class-ranger: #bce561;
  --c-accent-class-engineer: #8a5838;
  --c-accent-class-thief: #433b46;
  --c-accent-class-elementalist: #5eeeff;
  --c-accent-class-mesmer: #d05dbd;
  --c-accent-class-necromancer: #016e27;

  --c-tooltip-background: #000008C0;
  --c-tooltip-frame: #000008;
}

/* semantic color variables for this project */
:root {
  --color-itemframe: var(--c-accent-lightbrown);
  --color-itemframe-transparent: var(--c-accent-lightbrown-transparent);

  --color-background: var(--c-background-black);
  --color-background-dark: var(--c-background-black-dark);
  --color-text: var(--c-text-white);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
}
